---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FeaturedPizzas from '../components/FeaturedPizzas.jsx'
import Benefits from '../components/Benefits.astro';
import MenuSection from '../components/MenuSection.astro';
import Testimonies from '../components/Testimonies.astro'
import ScrollToTopButton from '../components/ScrollToTopButton';
---

<Layout title="Traditional Pizza" description='Una masa artesanal junto a las recetas de siempre'>
	<main>
		<Hero />
		<FeaturedPizzas client:load />
		<Benefits />
		<MenuSection />
		<Testimonies />
	</main>	
	<ScrollToTopButton client:load/>
</Layout>
